@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.follow-button-container {
  transform: translate(130px, 130px);
  position:relative;
  z-index: 99;
}

.follow-button {
  background-color:#fff;
  position:fixed;
  zindex:99;
  border-radius:100%;
  height:45px;
  width:45px;
  outline:none;
  border:2px solid #d15559;
}


.banner--mobile{
  width:100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
}
.banner-wrapper--mobile{
  width: 100%; 
  background-color:#d15559;
  width:100%;
  height:450px;
  padding:8px;
  max-width:1200px /* MAX WIDTH OF MY CURRENT PROJECT IN WHICH THIS WILL BE IMPLEMENTED*/
}
.pic-box--mobile {
  height:180px;
  width:180px;
  margin:0 auto;
}

.picture-element--mobile {
  display: block;
  margin: 0 auto;
  height:180px;
  width:180px;
 
}

.info-box {
  flex-direction: column;
  flex:14;
  justify-content: center;
  margin-top:30px;
  margin-right:15%;
} 

.info-element--mobile {
  flex :1;
  text-align:center;
  font-size:1.3vw;
  color:#fff;
  margin-top:1vw;
}

.stat-element--mobile {
  flex :1;
  text-align:center;
  font-size:1rem;
  color:#fff;
  margin-top:1vw;
}

.stat-box--mobile {
  flex:2;
  display:flex;
  justify-content: center;
}

.bio-element--mobile {
  flex: 2;
  font-size:0.9rem;
  text-align:center;
  color:#fff;
  margin-top:30px;

}
  .banner-wrapper{
    display:none;
    width: 100%; 
    background-color:#d15559;
    width:100%;
    height:200px;
    padding:8px;
    max-width:1200px /* MAX WIDTH OF MY CURRENT PROJECT IN WHICH THIS WILL BE IMPLEMENTED*/
  }

#username--mobile, #username {
  margin-top:1vw;
}

.pic {
  border-radius:50%;
  border-style: solid !important;
  border-color: #fff !important;
  border-width: 2px !important;
  height:180px;
  width:`180px;
  position:relative;
  overflow: hidden;

}

.pic-box {
  height:180px;
  width:180px;
}

@media only screen and (min-width:505px) {
   .banner{
    display:flex;
    width:100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
  }
  .banner-wrapper--mobile {
    display:none;
  }
  .banner-wrapper{
    display:flex;
    width: 100%; 
    background-color:#d15559;
    width:100%;
    height:200px;
    padding:8px;
    max-width:1200px;
  }

  .picture-element {
    display: block;
    margin: 0 auto;
    height:180px;
    width:180px;
  }

  .info-box {
    flex-direction: column;
    flex:14;
    justify-content: center;
    align-items:center;
  } 

  .info-element {
    flex :1;
    text-align:center;
    font-size:1.3vw;
    color:#fff;
    margin-top:1vw;
  }

  .stat-element {
    flex :1;
    text-align:center;
    font-size:1rem;
    color:#fff;
    margin-top:1vw;
  }

  .stat-box {
    flex:2;
    display:flex;
    justify-content: center;
  }

  .bio-element {
    flex: 2;
    font-size:0.9rem;
    color:#fff;
    text-align:center;
    margin-top:15px;
  }
}
