@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Norican');

.app-header {
  background-color:  #d15559;
  display:flex;
  flex-wrap: wrap;
}

.app-header-text-container {
  flex: 1;
}


.app-header-text {
  font-family: 'Norican', cursive;
  color:#fff;
  font-size:45px;
  padding-left:10px;
}

.app-search-bar-container {
  flex:2;
  margin: auto;
  width:100%;
}

.app-search-bar {
  width:60%;
}




#navbarcontainer {
  border-top: 1px dashed #fff;
  list-style-type: none;
  background-color: #d15559;
}
#navbarlist {
  margin: 0 auto;
  max-width: 1200px;
  display:flex;
  justify-content:center;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px dashed #fff;
  display: flex;
  text-align:center;
  justify-content: center;
}

.navbar-item-desktop {
  display: block;
  flex:1;
}

#navbarlist > li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: #d15559;
  color: #fff;
  border-bottom: 3px solid;
  border-color: #d15559;
}
#navbarlist > li a,
#navbarlist > a:hover {
  text-decoration: none;
  color: #191919;
}
#navbarlist > li:hover {
  border-bottom: 3px solid;
  border-color: #fff;
}
#navbar_list--mobile {
  padding-left:0 !important;
  display: block;
  margin:0 !important;
  width:100%;
  font-family: 'Montserrat', sans-serif;
}
#navbar_container--mobile {
  border-top: 1px dashed #fff;
  list-style-type: none;
  display: none;
  background-color: #d15559;
}
#navbar_list--mobile > li {
  cursor: pointer;
  display: block;
  padding: 15px 0px 10px 0px;
  text-align: center;
  background-color: #d15559;
  color:#fff;
  border-bottom:1px dashed #fff;
  box-sizing:border-box;

}
#navbar_list--mobile > li a,
#navbar_list--mobile > a:hover {
  text-decoration: none;
  color: #fff;
}

.menu-item {


  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:  all 0.3s ease;
  transition: all 0.3s ease;

}


@media screen and (max-width: 765px) {

  #navbarcontainer {
    display:none;
  }
  #navbar_container--mobile {
    display:block;   
  }
  .app-header {
    flex-direction:column;
    padding-bottom:3px;
  }
  .app-search-bar {
    width:90%;
    margin:0 auto;
  }
  .app-header-text-container {
    margin:0 auto;
  }
  .app-header-text {
    text-align:center;
  }
}